{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "endOfLine": "lf",
  "htmpWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "objectWrap": "preserve",
  "printWidth": 150,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
