@use '../../../base/styles/values.scss' as v;

.SignIn_Page {
  align-items: center;
  background-color: v.$SAKURA_BG;

  display: flex;

  height: 100vh;

  justify-content: center;

  width: 100vw;
}
